.employee {
  flex: 4;
}

.employeeEditForm {
  padding: 20px 0px 50px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.employeeEditForm input {
  width: 80%;
  padding: 20px;
  margin-top: 25px;
  font-size: 20px;
}

.submit-btn {
  width: 87% !important;
  padding: 10px;
  margin-top: 15px;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
