.allEmployee {
  flex: 4;
  margin: 25px 25px 90px 25px;
}

.employeeListEdit {
  border: none;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

.employee-list-title {
  display: flex;
  justify-content: space-between;
}

.btn-addEmployee {
  margin-bottom: 15px;
  padding: 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(79, 156, 79);
  color: white;
}
